{% extends "admin/index.html" %}

{% block content %}
    <div class="dashboard">
        <!-- Your custom admin dashboard content goes here -->
        <li style="float: right; margin-right: 20px;">           
            <a href="{% url 'admin_dashboard' %}" class="button" style="margin-right: 100px;" target="_blank">View Admin Dashboard</a>    
        </li>  
        <div style="clear: both;"></div> <!-- Add a clearing div -->  
    </div>
    <div style="margin-bottom: 20px;"></div> <!-- Add bottom margin -->
    {{ block.super }} 
{% endblock %}


